.chats {
	max-width: 240px;
	min-height: 21px;
	min-width: 30px;
	word-wrap: break-word;
	border-radius: 10px;
	background-color: #eee;
	padding: 10px;
	position: relative;
	white-space: pre-line;
}

.leftchat {
	float: left;
	padding-left: 15px;
	margin-left: 10px;
}

.leftchat:before {
	content: "";
	width: 15px;
	height: 15px;
	background: #eee;
	position: absolute;
	left: -3px;
	top: 30%;
	transform: rotate(45deg);
	border-radius: 3px;
	z-index: -1;
}

#chat_nex {
	position: relative;
	text-align: center;
	font-size: 10px;
	color: skyblue;
	width: 100%;
	height: 15px;
	margin-top: 2px;
}

.rightchat {
	float: right;
	padding-right: 15px;
	margin-right: 20px;
}

.rightchat:before {
	content: "";
	width: 15px;
	height: 15px;
	background: #eee;
	position: absolute;
	right: -3px;
	top: 30%;
	transform: rotate(45deg);
	border-radius: 3px;
	z-index: -1;
}

#historybar {
	position: relative;
	text-align: center;
	font-size: 10px;
	color: skyblue;
	width: 100%;
	height: 15px;
	border-top: 1px solid #c3c3c3;
	margin: 18px 0px;
}

.timetip {
	font-size: 10px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	clear: both;
	width: 100%;
	color: gray;
}

.chathead {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

#emojicontain {
	position: absolute;
	top: -123px;
	left: 5px;
	height: 108px;
	width: 415px;
	word-break: break-word;
	overflow: auto;
	white-space: normal;
	font-size: 20px;
	text-align: left;
	box-shadow: 1px 1px 10px 1px gray;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	padding: 5px;
	display: none;
}

#emojicontain:hover {
	cursor: pointer;
}

.emoji {
	display: inline-block;
	width: 33.1px;
}

.emoji:hover {
	cursor: pointer;
}

#emojibar {
	float: left;
	margin-left: 5px;
	font-size: 16px
}

#emojibar:hover+#emojicontain {
	display: block;
}

#newtip {
	display: none;
	position: absolute;
	top: -232%;
	left: 20px;
	max-width: 240px;
	padding: 0px 5px;
	line-height: 21px;
	min-height: 21px;
	background-color: #6699ff;
	word-wrap: break-word;
	border-radius: 10px;
	color: white
}

#hang {
	float: right;
	color: gray;
	font-size: 10px;
	position: absolute;
	right: 115px;
	bottom: 3px;
}

#textbtn_before {
	display: none;
	color: indianred;
}

#yanchi {
	height: 12px;
	width: 12px;
	background-image: url(../img/rotate.gif);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 12px;
	left: 50%;
	transform: translate(-50%, 0);
	display: none;
}

.chathead:hover {
	cursor: pointer;
}

.floatr {
	float: right;
}

.floatl {
	float: left;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#messagedetail {
	width: 100%;
	height: 100%;
	position: absolute;
}

#iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../img/草莓.png);
	background-repeat: no-repeat;
	background-position: center;
}

#chatcontain {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0px 15px;
	box-sizing: border-box;
	background-image: url(../img/寿司.png);
	background-repeat: no-repeat;
	background-position: center;
}

#chatmessege {
	width: 200px;
	height: 330px;
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 3;
	border-radius: 3px;
	box-shadow: 1px 1px 10px 1px gray;
}

#chatmessege_zero {
	width: 100%;
	height: 200px;
	background-image: url(../img/饼干.png);
	background-position: center;
	background-repeat: no-repeat;
}

#chatmessegexx {
	padding: 18px;
}

#chatmessege_one {
	line-height: 45px;
}

#chatmessege_two {
	color: gray;
	font-size: 10px;
}
