.chats {
	max-width: 240px;
	min-height: 21px;
	min-width: 30px;
	word-wrap: break-word;
	border-radius: 10px;
	background-color: #eee;
	padding: 10px;
	position: relative;
	white-space: pre-line;
}

.leftchat {
	float: left;
	padding-left: 15px;
	margin-left: 10px;
}

.leftchat:before {
	content: "";
	width: 15px;
	height: 15px;
	background: #eee;
	position: absolute;
	left: -3px;
	top: 30%;
	transform: rotate(45deg);
	border-radius: 3px;
	z-index: -1;
}

.rightchat {
	float: right;
	padding-right: 15px;
	margin-right: 20px;
}

.rightchat:before {
	content: "";
	width: 15px;
	height: 15px;
	background: #eee;
	position: absolute;
	right: -3px;
	top: 30%;
	transform: rotate(45deg);
	border-radius: 3px;
	z-index: -1;
}

.timetip {
	font-size: 10px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	clear: both;
	width: 100%;
	color: gray;
}

.chathead {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

#emojicontain {
	position: absolute;
	top: -123px;
	left: 5px;
	height: 108px;
	width: 415px;
	word-break: break-word;
	overflow: auto;
	font-size: 20px;
	text-align: left;
	box-shadow: 1px 1px 10px 1px gray;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	padding: 5px;
	display: none;
}

#emojicontain:hover {
	cursor: pointer;
}

.emoji {
	display: inline-block;
	width: 33.1px;
}

.emoji:hover {
	cursor: pointer;
}

#yanchi {
	height: 12px;
	width: 12px;
	background-image: url(../img/rotate.gif);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 12px;
	left: 50%;
	transform: translate(-50%, 0);
	display: none;
}
.chathead:hover{
	cursor: pointer;
}
